$hot-doc-green: #00a962;

h1  {
    font-family: Arial, Helvetica, sans-serif;
    color: $hot-doc-green;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #323A48;
}

section {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #666666;
}

.appreciation-list {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.appreciation {
    background-color: #ffffff;
    padding: 10px;
    border: 2px black solid;
    border-radius: 20px;
    margin: 20px;
    list-style: none;
}

.appreciation-name{
    color: $hot-doc-green;
    font-size: 30px;
    padding: 5px;
}

.appreciation-body {
    padding: 5px;
    font-size: 16px;
}

footer {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #323A48;
    color: #ffffff;
    opacity: .8;
}
