<body>
  <header>
    <h1>WALL OF WOW</h1>
    <h2>Welcome to HotDoc's appreciation board!</h2>
    <h3>To submit your appreciations, head to
      <a target="_blank" href="https://vibrant-colden-32479c.netlify.com">https://vibrant-colden-32479c.netlify.com</a>
      </h3>

  </header>

  <section class="appreciation-list">
    {{#each model as |appreciation|}}
    <div class="appreciation">
      <div class="appreciation-name">
        {{appreciation.name}}
      </div>
      <div class="appreciation-body">
        {{appreciation.body}}
      </div>
    </div>
    {{/each}}
  </section>

  <footer>
    <div class="weeknd">
      <p {{action send "clickWeeknd"}}>Made by The Weeknd</p>

      {{#if showWeeknd}}
      <img src="/assets/images/Weeknd.jpg" /> {{/if}}
    </div>
  </footer>
</body>