<body>
    <header>
         <h1>WALL OF WOW</h1>
         <h2>Welcome to HotDoc's appreciation board!</h2>

    </header>
    
    <section class="appreciation-list">
        
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>
            <div class="appreciation">
                <div class="appreciation-name">Chelsea</div>
                <div class="appreciation-body">Chelsea is the coolest gal ever she is so sweet!</div>
            </div>

            <div class="appreciation">
                <div class="appreciation-name">Agnes</div>
                <div class="appreciation-body">Agnes loves Cats!</div>
            </div>

        
    </section>

    <footer>
        Made by The Weeknd
    </footer>
</body>


